/* .nav {
  width: 25%;
  float: left;
  position: fixed;
  top: 0;
  z-index: 1;
} */

.nav { 
  float: left; 
  width: 200px;
  position: fixed;
  text-align: justify;
  z-index: 1; 
}


.verticalTime {
  position: relative;
  top: 50px;
  float: right; 
  width: calc(100% - 230px);   
}

.aboutHeader {
  text-align: center;
  color: #FFF;
  font-size: 50px;
}

.aboutFewWords {
  text-align: center;
  color: #FFF;
  font-size: 20px;
}

.skills {
  position: relative;
  padding: 30px 0px;
  float: right; 
  width: calc(100% - 230px);   
  height: 60vh;
  text-align: left;
  color: #FFF;
  font-size: 18px;
}

@media only screen and (max-width: 1023px) {
  
  .verticalTime {
    width: 100%;   
  }
  .skills {
    float: left; 
    width: 100%;   
    margin: 10px;
  }
  .experience {
    top: 100px;
  }


}